@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

/* src/index.css */
@font-face {
  font-family: 'BobtingFont'; /* 시윤님이 부르고 싶은 이름 */
  src: url('./assets/fonts/KNU\ TRUTH.ttf') format('woff2'),
       url('./assets/fonts/KNU\ TRUTH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 사이트 전체에 바로 적용하고 싶다면 */
body {
  font-family: 'BobtingFont', sans-serif;
}